/* Twikoo评论框高度设置 */
.el-textarea__inner {
    min-height: 180px !important;
  }
  
/* Twikoo评论框添加背景图*/
.el-textarea {
	background-image: url(/img/comment_bg.png);
	background-size: 162px 75px;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(0, 0, 255, 0);
	resize: vertical
}

/* Twikoo评论框背景图实现点击下移*/
.el-textarea:focus-within {
	background-position-y: 800px;
	transition: all 0.2s ease-in-out 0s;
}